@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monserrat', sans-serif;
}

.wrapper,
.portfolio{
  width: 100vw;
  height: 100vh;
  background-color: #12141c;
  color:#fff;
  background-image: url("../img/11569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color:red;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
color: #fff;
text-decoration: none;
padding: 10px 20px;
-webkit-border-radius: 12px;
}

.menu a:hover {
  background-color: red;
  color:white;
  transition: ease-in .4s;
  
} 
.main {
  margin: auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
h1 {
  font-size: 10em;
  color: RED;
}
p {
  font-size: 2em;
}

.download-cv {
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 10px 3px 11px -5px #b37171b0;
}

.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.main img {
  width: 350px;
  border: 7px solid red;
  height: 460px;
  -webkit-border-radius: 12px;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color:black;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 2em;
}

.about-info h2 {
  font-size: 2em;
  color:#fff
}

.divider {
  height: 4px;
  width: 60px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 2em;
  color:#fff
}

.portfolio {
  width: 100vw;
  background-color:#12141c;
  color: #fff;
}

.portfolio-headings {
  width: 100;
  padding: 5em;
}

.portfolio-headings h2 {
  font-size: 2,5em;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  height: 350px;
  color: #fff;
  background-color: #242733;
  margin: 1em;
}

.card_img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card_title {
  padding: 20px;
}

.card_projects-links {
  display: flex;
  justify-content: space-evenly;
}

.card_projects-links a {
  color: #fff;
  text-decoration: none;
}
.card_projects-links i {
  font-size: 1,5em;
}
.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%; 
}

.card .project-details a {
  text-decoration: none;
  color:#12141c;
  text-transform: uppercase;
}

.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.contact-section {
  background-color: black;
  color: #fff;
  padding: 5em;
}

.contact-headings h2{
font-size: 2.3em;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
}

.container-contact img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  margin-bottom: 1em;
  position: absolute;
  left: 50%;
  top: 390%;
  font-size: 1em;
}
.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color:#fff;
}

.form textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em; 
  border: 1px solid #fff;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: red;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 10px 3px 11px -5px rgb(102, 231, 200, .69);
}
.btn-submit:hover {
background-color: #fff;
box-shadow: none;
} 
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color:black;
}

.footer-content h2 {
  font-size: 3em;
  color:red;
}
.footer-content h5,
.sotial-network i {
  font-size: 1.5em;
  color:white;
}

.sotial-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}
h5 {
  text-align: center;
}
/**/